*{
    margin: 0;
    padding: 0;
}
img{
    vertical-align: middle;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/*common css part end*/
/*nav part start*/
nav{
    width: 100%;
    z-index: 99;
    position: fixed !important;
    border-bottom: 1px solid #fec600;
    height: 80px;
}
.bgcolor{
    background-color: transparent !important;
}
.nav-item a{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    margin: 0 10px;
    color: #fff;
    transition: 0.5s;
}
.nav-item a:hover{
    color: #fec600;
}
.nav-item a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 3px;
    width: 100%;
    background-color: #fec600;
    transform: scaleX(0);
    transition: 0.5s;
}
.nav-item a:hover::after{
    transform: scaleX(1);
}
.nav-item:active{
    color: red !important;
}
.bg{
    background-color: #222 !important;
    z-index: 9999;
    position: fixed;
    animation: extra 1s;
    background-color: #222;
    border-bottom: none;
    height: 80px;
}

@keyframes extra{
    from{
        top:-50px
    }
    to{
        top: 0px;
    }
}

/*nav part end*/
/*banner part start*/
#banner{
    position: relative;
}
.ban_img{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/Hunt.png) no-repeat center / cover;
    padding: 300px 0;
    clip-path: polygon(0 0, 100% 0, 100% 84%, 0 96%);
}
.ban_main{
    position: absolute;
    padding-top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.ban_main h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #fff;
}
.ban_main h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 55px;
    color: #fec600;
    text-transform: uppercase;
}
.ban_main p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    width: 540px;
    margin: 0 auto;
    line-height: 24px;
    padding-bottom: 50px;
}
.ban_main a{
    margin:0 20px;
    padding: 15px 30px;
    border: 2px solid #fff;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    transition: 0.5s;
}
.ban_main a:hover{
    background-color: #fec600;
    color: black;
    border: 2px solid transparent;
}
.next{
    position: absolute;
    top: 350px;
    right: 50px;
    z-index: 999999;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: 0.5s;
}
.next i{
    line-height: 30px;
    color: black;
}
.next:hover{
    background: #fec600;
}
.prev{
    position: absolute;
    top: 350px;
    left: 50px;
    z-index: 99999;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: 0.5s;
}
.prev i{
    line-height: 30px;
    color: black;
}
.prev:hover{
    background: #fec600;
}
/*about part start*/
.about_haed h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    padding-top:30px;
}
.about_haed p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    width: 565px;
}
.about_img{
    height: 320px;
    width: 330px;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
    margin-left: 42px;
}
.about_img::after {
	position: absolute;
	content: '';
	left: 0px;
	top: 0;
	transform: translate(-5.5%,-5.5%);
	width: 360px;
	height: 360px;
	border-radius: 50%;
	border: 2px solid black;
}
.about_left::before {
	position: absolute;
	content: '';
	background-color: #eee;
	height: 30px;
	width: 30px;
	position: absolute;
	top: 50%;
	right: -30px;
	transform: translate(-50%,-50%) rotate(-45deg);
}
.about_img::before {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	height: 100%;
	width: 97%;
	background-color: rgba(0, 0, 0, 0.415);
	border-radius: 50%;
}
.about_main{
    align-items: center;
    justify-content: space-between;
}
.about_left
,.about_right
,.about_top
,.about_bottom{
   position: relative;
}
.about_text{
    background-color: #eee;
    
    padding: 30px;
    transition: 0.5s;
}
 .about_right::before,
 .about_top::before,
 .about_bottom::before{
    position: absolute;
    content: '';
    background-color: #eee;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translate(-50%,-50%) rotate(-45deg);
}
.about_left::after,
.about_right::after,
.about_top::after,
.about_bottom::after{
    position: absolute;
    content: '';
    right: -63px;
    top: 45%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    z-index: 9;
    transition: 0.5s;
}
.about_left:hover::after{
    background-color: #fec600;
}
.about_right::after{
    left: -53px;
}
.about_right::before{
    left: 0;
}
.about_right:hover::after{
    background-color: #fec600;
}
.about_top:hover::after{
    background-color: #fec600;
}
.about_top:hover::after{
    background-color: #fec600;
}
.about_bottom:hover::after{
    background-color: #fec600;
}
.about_top::after{
    top: 230px;
    left: 50%;
}
.about_top::before{
    top: 100%;
    left: 50%;
}
.about_top,
.about_bottom{
    margin: 70px 0;  
}
.about_bottom::after{
    left: 50%;
    top: -60px;
}
.about_bottom::before{
    top: 0;
    left: 50%;
}
.about_text h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.about_text p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.about_text:hover{
    box-shadow: 2px 2px 5px 5px #848383;
}
/*about part end*/
/* port part start*/
#Portfolio{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/port.png) no-repeat center / cover;
    padding: 100px 0;
    clip-path: polygon(0 9%, 100% 0, 100% 91%, 0% 100%);
}
.port_head h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    color: #000;
}
.port_head p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    width: 565px;
    color: #222;
    margin-bottom: 60px;
}
.port_item{
    width: 100%;
}
.port_item img{
    width: 100%;
}
.port_item2{
    margin-top: 24px;
}
.port_item{
    height: 270px;
}
.port_item img{
    width: 100%;height: 100%;
}
.port_item3{
    height: 370px;
}
/* port part end*/
/*Services part start*/
#Services{
    position: relative;
    padding-bottom: 60px;
}
.next2{
    position: absolute;
    top: 160px;
    right: 50%;
    z-index: 99;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: 0.5s;
    transform: translateX(50%);
    border: 1px solid #222;
    line-height: 30px;
    color: black;
    font-size: 24px;
}
.next2:hover{
    background: #fec600;
    border: 1px solid transparent;
}
.prev2{
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: 0.5s;
    display: inline-block !important;
    height: 35px;
    width: 35px;
    border: 1px solid #222;
    line-height: 30px;
    color: black;
    font-size: 24px;
}
.prev2:hover{
    background: #fec600;
    border: 1px solid transparent;
}
.line{
    position: absolute;
    left: 50%;
    top: 160px;
    z-index: -1;
}
.line img{
    width: 100%;
}
.ser_head h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 35px;
    padding-top:30px;
}
.ser_head p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0 auto;
    width: 565px;
}
.ser_img{
    height: 80px;
    width: 80px;
    background-color: #eee;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    transition: 0.5s;
}
.ser_img img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.ser_data p{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.ser_data p::after{
    position: absolute;
    content: '';
    height: 30px;
    width: 30px;
    background-color: #eee;
    left: -45px;
    top: 50%;
    transform: translate(0,0%) rotate(-45deg);
}
.ser_data{
    width: 100%;
    height: 190px;
    background-color: #eee;
    padding: 30px;
}
.ser_data2{
    width: 100%;
    height: 190px;
    background-color: #eee;
    padding: 30px;
}
.ser_data2 p{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.ser_data2 p::after{
    position: absolute;
    content: '';
    height: 30px;
    width: 30px;
    background-color: #eee;
    right: -45px;
    top: 50%;
    transform: translate(0%,0%) rotate(-45deg);
}
.ser_item h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
}
#Services .slick-center .ser_img{
    background-color: #fec600;
    transform: scale(1.3);
}

#Services .slick-center .ser_data{
    box-shadow: 2px 2px 3px 2px #a4a3a3;
}
#Services .slick-center .ser_data2{
    box-shadow: 2px 2px 3px 2px #a4a3a3;
}
.ser_slide{
    padding: 130px 0;
}

/*Services part end*/
/*team part start*/
#team{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../images/team.jpg) no-repeat center / cover;
    padding: 100px 0;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    position: relative;
}
.team_main{
    display: flex;
    align-items: center;
    position: relative;
}
.next3{
    position: absolute;
    top: 0px;
    right: 93.3%;
    z-index: 999999;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #6d6442;
    text-align: center;
    transition: 0.5s;
    transform: translateX(50%);
    border: 1px solid #000000;
    line-height: 30px;
    color: rgb(255, 255, 255);
    font-size: 24px;
}
.next3:hover:hover{
    background: #fec600;
    border: 1px solid transparent;
}
.prev3{
    position: absolute;
    bottom: -40px;
    left: 6.7%;
    transform: translateX(-50%);
    z-index: 99999;
    border-radius: 50%;
    text-align: center;
    transition: 0.5s;
    display: inline-block !important;
    height: 35px;
    width: 35px;
    border: 1px solid #000000;
    line-height: 30px;
    color: rgb(255, 255, 255);
    font-size: 24px; 
    background-color: #6d6442;
}
.prev3:hover:hover{
    background: #fec600;
    border: 1px solid transparent;
}
.line2{
    position: absolute;
    left: 6.7%;
    top: 0%;
}
.line2 img{
    height: 650px;
}
.team_inner{
    border-radius: 50%;
    margin-bottom: 25px;
    position: relative;
    margin-right: 100px;
    width: 150px;
    height: 150px;
    margin-left: 35px;
}
.team_inner::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    background-color: #fec7007e;
    border-radius: 50%;
}
.team_for{
    padding-top: 80px;
}
.team_msg{
    width: 850px;
    background-color: #eee;
    padding: 30px 50px;
    position: relative;
}
.team_msg::after{
    position: absolute;
    content: '';
    left: -10px;
    top: 50%;
    width: 30px;height: 30px;
    background-color: #eee;
    transform: translateY(-50%) rotate(-45deg);
    z-index: 999999;
}
.team_msg h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.icon i{
    color: #fec600;
}
.team_msg h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 15px;
}
.team_msg p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.team_for{
    width: 200px !important;
} 
#team .slick-center .team_inner::after{
    display: none;
}
#team .slick-center .team_inner{
    transform: scale(1.3);
    margin-left: 50px;
}
.team_msg{
    margin-left: 50px;
}
/*team part end*/
/*price part start*/
.price_head h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 35px;
    padding-top:30px;
}
.price_item{
    margin: 60px 0;
    background-color: #eee;
    position: relative;
    transition: 0.5s;
}
.price_head p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0 auto;
    width: 565px;
}
.price_item h4{
    padding-top: 30px;
    padding-bottom: 80px;
    background-color: #353535;
    color: #eee;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    clip-path: polygon(0 0, 100% 0, 100% 79%, 0% 100%);
    transition: 0.5s;
}
.price_item .price{
    position: absolute;
    left: 50%;
    top:70px;
    height: 120px;
    width: 120px;
    border: 50%;
    margin: 0 auto;
    background-color: #353535;
    border-radius: 50%;
    border: 3px solid #fff;
    transform: translateX(-50%);
    transition: 0.5s;
}

.price h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 29px;
    color: #eee;
    padding-top: 30px;
    position: relative;
    transition: 0.5s;
}
.price h5::after{
    position: absolute;
    content: '';
    left: -5px;
    top: -5px;
    background-color: transparent;
    border-radius: 50%;
    height: 124px;
    width: 124px;
    z-index: -99;
    border: 2px solid #353535;
    transition: 0.5s;
}
.price h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #eee;
    transition: 0.5s;
}
.price_item ul{
    margin-top: 80px;
    padding-left: 0px;
}
.price_item ul li{
    margin: 15px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #353535;
}
.price_item a{
    display: inline-block;
    padding: 30px 0;
    width: 100%;
    background-color: #353535;
    color: #eee;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    clip-path: polygon(0 27%, 100% 0, 100% 100%, 0% 100%);
    text-transform: uppercase;
    transition: 0.5s;
}
.price_item:hover h4{
    background-color: #fec600;
    color: #353535;
}
.price_item:hover a{
    background-color: #fec600;
    color: #353535;
}
.price_item:hover .price{
    background-color: #fec600;
    color: #353535;
}
.price_item:hover .price h6{
    color: #353535;
}
.price_item:hover .price h5{
    color: #353535;
}
.price_item:hover .price h5::after{
   border: 2px solid #fec600;
}
.price_item:hover{
    box-shadow: 2px 2px 3px 3px #a4a3a3;
}
/*price part end*/
#counter{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../images/port.png) no-repeat center / cover;
    padding: 80px 0;
    clip-path: polygon(0 22%, 100% 0, 100% 78%, 0% 100%);
}
.counter_main{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.number{
    height: 100px;
    color: #eee;
    width: 18%;
    border: 2px solid #eee;
    transform: skew(-13deg);
    margin-top: 20px;
}
.number h5{
    padding-top:18px ;
    transform: skew(13deg);
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 24px;
}
.number p{
    transform: skew(13deg);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
/*team part start*/

.mem_head h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 35px;
    padding-top:30px;
    text-align: center; 
    padding-bottom: 20px;
}
.mem_head p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0 auto;
    width: 565px;
    text-align: center;
}
.mem_inner{
    position: relative;
}
.mem_inner img{
    width: 100%;
    
}

.member_item{
    transition: 0.5s;
}
.member_item h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding-top:20px ;
}
.member_item p{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: center;

}
.over{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width:100%;
    background-color: rgba(254, 199, 0, 0.5);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    transform: scale(0);
    transition: 0.5s;

}
.over i{
    color: #222;
    font-size: 16px;
    padding: 15px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.member_item:hover .over{
    transform: scale(1);
}
.mem_list ul{
    display: flex;
    justify-content: space-between;
    padding-left:0 ;
    margin-bottom: 0;
    padding: 0 30px;
    padding-bottom: 20px;
}
.mem_list ul li{
    width: 40px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #000000;
    transition: 0.5s;
}
.mem_list ul li:hover{
    background-color: #fec600;
    border: 1px solid #fec600;
}
.mem_list ul li a{
    color: #000000;
    font-size: 16px;
}
.mem_list{
    transform: scaleY(0);
    transition: 0.5s;
}
.member_item:hover .mem_list{
    transform: scaleY(1);
}
.member_item:hover{
    border: 1px solid #353535;
    
}


/*team part end*/
footer .row {
	--bs-gutter-x: 0;

}
footer{
    background-color: #222 !important;
    width: 100%;
    position: relative;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}
.footer_head{
    border-bottom: 1px solid #545454;
}
.footer_head img{
    padding-top: 30px;
}
.footer_item i{
    color: #222;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #fec600;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
}
.footer_item{
    padding: 0 20px;
    border-right: 1px solid #545454;
    padding-bottom: 20px;
}
.footer_item:last-child{
    border-right: none;
}

.footer_item h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}
.fotter_text h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}
.fotter_icon ul{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.fotter_icon ul li{
    margin-right: 20px;
}
.fotter_icon ul li i{
    font-size: 20px;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.5s;
}
.fotter_icon ul li i:hover{
    background-color: #fec600;
}
.fotter_down{
    background-color: #353535;
}
.fotter_down p{
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
}
.fotter_down p span{
    color: #fec600;
}
/*fotter end*/
.back_top i{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #000;
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: 0.5s;
    display: none;
    animation: 2s ami infinite;
    z-index: 9999;
    font-size: 20px;
    background-color: #fec300;
}
@keyframes ami{
    0%{
        transform: scale(0.7);
    }
    0%{
        transform: scale(1);
    }
    0%{
        transform: scale(0.7);
    }
}
.back_top i:hover{
    background-color: #fe6100;
}
